

#mydiv {
    border: 4px dotted green;
}

.avatar img {
    width: 100px;
    height: 100px;
}

.avatar {
    border: 2px solid green;
    border-radius: 50%;
    width: 100px;
    height: 100px;   
    overflow: hidden; 
}

.btn {
    background-color: hotpink;
    border-radius: 8px;
    margin: 30px;
    padding: 30px;
    border: none;
    color: white;
    font-size: 25px;
    font-weight: bold;
}