{% extends 'layout.html' %}
{% load cropping thumbnail %}

{% block content %}
        <div class="top-header">
        	<img src="/static/assets/images/aerobic-girls.jpg" alt="aerobic girls" />
        </div>
          <div class="section-heading">
          
            <h2>{{ page.title }}</h2>
            <div class="line-dec"></div>
            <span>{{ page.content }}</span>
          </div>

          <ul>
            {% for p in products %}
              <li class="product"> 
                
               

                <img src="{% thumbnail p.image 200x200 box=p.cropping crop detail %}">

                {{ p.name }} 

                <p> {{ p.category.name }} </p>
              
              </li>
            {% endfor %}
          </ul>

{% endblock %}