{% extends 'layout.html' %}

{% block content %}

         <h1>Регистрация</h1>

     <form  action="" method="post">
     {% csrf_token %}
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input name="username" type="text" class="form-control" id="name" placeholder="Username..." required="">
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input name="password" type="text" class="form-control" id="email" placeholder="Password." required="">
                      </fieldset>
                    </div>
                  
                      </fieldset>
                    </div>
                   
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Registration
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>


{% endblock %}